.banner= cms_snippet_content('blog-banner')

.main
  %h1.title Blog

  .blog
    - @posts.each do |post|

      .set
        %h2= link_to post.title, blog_post_path(@cms_site.path, "", post.slug)
        .info
          = "by " + post.author + " on " + post.published_at.strftime("%Y-%m-%d")
        .content
          = post.content.html_safe

    = paginate @posts
