%section.wrapper

  .blog.main
    %h1= @post.title

    .info
      = "by " + @post.author + " on " + @post.published_at.strftime("%Y-%m-%d")
    .content
      = @post.content.html_safe

  -#
    .comments
      - @post.comments.published.each do |comment|
        .comment
          .author= comment.author
          .content= comment.content

      = render :partial => 'blog/comments/form'

