<!DOCTYPE html>
<html>
<head>
  <title>TEDxUW</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="Shortcut Icon" href="/favicon.ico" />
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section class="header">
  <ul class="min-menu">
    <li class="link"><a href="/about">About the Event</a></li>
    <li class="link"><a href="/speakers">Speakers</a></li>
    <li class="link"><a href="/organization">Organization</a></li>
    <li class="link"><a href="/team">Team</a></li>
    <li class="link"><a href="/partners">Partners</a></li>
    <li class="link"><a href="/videos">Videos</a></li>
    <li class="link"><a href="/blog">Blog</a></li>
    <li class="link"><a href="/faq">FAQ</a></li>
    <li class="link"><a href="http://2011.tedxuw.com/" target="_blank">2011 Site</a></li>
    <li class="link"><a href="http://2012.tedxuw.com/" target="_blank">2012 Site</a></li>
  </ul>
  <ul class="nav">
    <li class="link drop-link"><a href="#">Event</a><ul class="dropdown">
      <li class="link"><a href="/about">About</a></li>
      <li class="link"><a href="/organization">Organization</a></li>
      <li class="link"><a href="/team">Team</a></li>
      <li class="link"><a href="/partners">Partners</a></li>
    </ul></li>
    <li class="link"><a href="/speakers">Speakers</a></li>
    <li class="link"><a href="/videos">Videos</a></li>
    <li class="main-link"><a href="/"><%= image_tag "logo.png" %></a></li>
    <li class="link"><a href="/blog">Blog</a></li>
    <li class="link"><a target="_blank" href="http://apply.tedxuw.com">Apply</a></li>
    <li class="link drop-link"><a href="#">Past Sites</a><ul class="dropdown">
      <li class="link"><a href="http://2011.tedxuw.com/" target="_blank">2011</a></li>
      <li class="link"><a href="http://2012.tedxuw.com/" target="_blank">2012</a></li>
    </ul></li>
    <li class="link" id="min-toggle"><a href="#">Menu</a></li>
</ul>
</section>

<section class="wrapper">
  <%= yield %>
</section>

<section class="footer">
  <ul class="share">
    <li><a href="mailto:info@tedxuw.com" target="_blank" class="sprite email"></a></li>
    <li><a href="http://www.twitter.com/tedxuw" target="_blank" class="sprite twitter"></a></li>
    <li><a href="http://www.facebook.com/tedxuw" target="_blank" class="sprite fb"></a></li>
  </ul>
  <!--<a href="/contact">Contact Form</a>-->
</section>

<script>
$(function() {
  var $dropLink = $('.drop-link');
  var $dropdowns = $('.dropdown');
  var $minMenu = $('.header');
  var clickTime;
  var prevTime = new Date();

  //very hacky tricks to get clicking the whole button to open the dropdown. there's probably a better way
  $dropLink.click(function(e) {
    e.preventDefault();
    e.stopPropagation();

    var attr = $(e.target).attr("href");
    var target = $(e.target).attr("target");

    if (attr !== undefined && attr !== "#") {

      if (target !== undefined) {
        window.open(attr, '_blank');
        $dropdowns.removeClass("show");
      } else {
        window.location = attr;
      }
    }

    var $dropdown = $(e.target).children('.dropdown');
    clickTime = new Date() - prevTime;
    if ($dropdown.length === 0 && clickTime > 500) {
      $dropdown = $(e.target).siblings('.dropdown');
    }
    if ($dropdown.hasClass("show")) {
      $dropdown.removeClass("show");
    } else {
      $dropdown.addClass("show");
    }

    prevTime = new Date();
  });

  $('body').click(function() {
    $dropdowns.removeClass("show");
  });

  $('.link').click(function(e) {
    var $a = $(e.target).children('a');

    if ($a.length > 0) {
      $a[0].click();
    }
  });

  $('#min-toggle').click(function(e) {
    e.preventDefault();
    e.stopPropagation();

    clickTime = new Date() - prevTime;

    if (clickTime > 500) {
      if ($minMenu.hasClass("show")) {
        $minMenu.removeClass("show");
      } else {
        $minMenu.addClass("show");
      }
    }

    prevTime = new Date();
  });
});
</script>

<script>
    var _gaq=[['_setAccount','UA-33764672-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>


</body>
</html>
